<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    {% include "index.html" %}
    {% block head %}
    {% endblock %}
    <div style="padding-left: 10%;padding-right: 10%; padding-top: 10%;padding-bottom: 5%;">
<table class="table table-hover" style="border: 2px solid black;">
  <thead style=" background-color: black;color: white;width:10px">
    <tr>
      <th scope="col" style="font-size: x-large;" >Sno.</th>
      <th scope="col" style="font-size: x-large;">States</th>
      <th scope="col" style="font-size: x-large;">Helpline number</th>
    
    </tr>
  </thead>

    <tbody style=" background-color: burlywood;">
        {% for r,c,n in z %}
        
        <tr>
        <th scope="row" style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: large;">{{n}}</th>
        <td style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: large;">{{r}}</td>
        <td style="font-family: Georgia, 'Times New Roman', Times, serif;font-size:large">{{c}}</td>
        
        </tr>
        
        {% endfor %}
    </tbody>

</table>
</div>
</body>
</html>